
%section.section
  .container
    .row.mb-4.align-items-center
      .col-md-6{"data-aos" => "fade-up"}
        %h3=@work.title
        %p
          director: #{@work.director.name}
          %br
          release: #{@work.release}
          %br
          main cast: #{@work.main_cast}
  .site-section.pb-0
    .container
      .row.align-items-stretch
        .col-md-8{"data-aos" => "fade-up"}
          -# %img.img-fluid{:alt => "Image", :src => "/img/img_1_big.jpg"}/
          -if @work.image.present?
            =image_tag @work.image_url, class: 'img-fulid'
          -else
            =image_tag '/img/default_image.png', class: 'img-fulid'



        .col-md-3.ml-auto{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .sticky-content
            .mb-5
              %p=@work.description
            -if user_signed_in?
              %p
                =link_to "edit", edit_work_path(@work), class: 'readmore'
                =link_to 'delete' ,work_path(@work), method: :delete, data: {confirm: "削除しますか？"}, class: 'readmore'
